<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qx.accounting.mapper.OrdersMapper">

    <select id="getUserOrder" resultType="com.qx.accounting.model.DTO.OrderDTO">
            select
        o.id,o.quantity,o.price,o.status,o.sell,o.create_time,

        g.name,g.shop_name,g.`desc`,g.make_time,g.expire_time


        from qx_orders o left join qx_goods g on o.goods_id = g.id
        <where>
            <if test="uid != null">
                o.status = false and
                user_id = #{uid}
            </if>
        </where>




    </select>
</mapper>